.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.error {
    color: red;
}
.error-hidden {
    color: red;
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}