.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.floating{
    float: left;
}
.error {
    color: red;
    font-weight:600;
}
.error-hidden {
    color: red;
    display: none;
    font-weight: 600;
}
.hidden{
    display:none;
}
.center {
    margin-left: auto;
    margin-right: auto;
}